<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Default_Master" connectionString="Data Source=(localdb)\Projects;Initial Catalog=master;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
        <add name="Default" connectionString="Data Source=(localdb)\Projects;Initial Catalog=AvalarinTestDatabase;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
    </connectionStrings>
</configuration>